body {font-family: 'Raleway', sans-serif;}

header {
    background: black;
    height: auto;
    margin: 20px 15px 0 px 15px;
    padding: 25px 0px 25px 0px;

}

h1 {
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-size: 39px;
}

h2 {
    margin: 20px 20px 20px 20px;
}

nav {
    background-color: grey;
    text-align: center;
    float: right;
    margin-right: 20px;
    margin-top: 3px;

}

nav ul {
    padding-left: 0px;
    margin: 0px;
}

nav ul li {
        display: block;
        position: relative;
        float: left;

}

nav ul li a {
        display: block;
        float: left;
        text-decoration: none;
        display: block;
        text-align: center;
        color: white;
        padding: 10px 15px 10px 15px;

}

a:hover {color: red;}

#checkzip {
        display: block;
        float:left;
        background-color: black;
        color: white;
        margin-top: 60px;
}

#zipcode {
        margin: 0px 0px 20px 20px;

}

.icon-bitbucket {
        color: white;
        margin: 0px 20px 0px 20px;
        display: block;
        float: left;
}

# {color: black;}
